.groupMemberOuterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.groupMemberAvatarContainer {
  display: flex;
  align-items: center;
}