.ownMessage {
  align-self: flex-end;
  margin-top: 1rem;
}

.othersMessage {
  align-self: flex-start;
  margin-top: 1rem;
}

.date {
  align-self: center;
  margin-top: 1rem;
  font-style: italic;
  font-size: 0.75rem;
}

.bubbleContainer {
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.contentContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.timeContainer {
  align-self: flex-end;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-style: italic;
  font-size: 0.75rem;
}

.messageCardInnerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}